<!-- <footer class="bg-body-secondary mt-3" id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 d-flex align-items-center">
                <div class="logo">Logo</div>
            </div>
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4 d-flex flex-column align-items-end">
                <h5 class="mb-3 px-5">Videos Tutoriales</h5>
                <ul class="list-unstyled">
                    <li><a href="#">1. Introducción SAT</a></li>
                    <li><a href="#">2. Seguimiento de carreras</a></li>
                    <li><a href="#">3. Bitácora SAT estudiantes</a></li>
                    <li><a href="#">4. Bitácora SAT docentes</a></li>
                    <li><a href="#">5. Informes y filtros</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>